<h2>{{headline}}</h2>
<form autocomplete="off">
    <p>{{chooseFile}}</p>
    <div class="form-content" style="display: flex">
        <input type="file" name="filePath" value="" accept=".ds,.DS"/>
    </div>
    <p id="dsimportErrorMessage"></p>
    <button id="processDSFile" type="submit">{{buttonText}}</button>
</form>