<h2>Import a .DS file</h2>
<form autocomplete="off">
    <p>Choose a file to import:</p>
    <div class="form-content" style="display: flex">
        <input class="setup-config" type="file" name="filePath" value="" accept=".ds,.DS"/>
    </div>
    <button id="processDSFile" type="submit">Import</button>
</form>